<nav class="navbar" style="background-color:#03A9F4 ;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqfrCcvkwl2Za1Ktz30YLYiC0rLasm3yPgPPQrg7HV2xI-hre5IoiUc2bwuXAbN2GEuqg&usqp=CAU" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
     Twitter
    </a>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
   <button class="btn btn-primary me-md-2"  type="button">Login</button>
   <button class="btn btn-primary" href="/users/newUser" type="button">Register</button>
   <a class="btn btn-primary" href="/tweets/new" role="button">New Tweet</a>
  </div>
  </div>
</nav>

