<form method="POST" action ="/tweets">
 <div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Escribe algo ingenioso...</label>
 </div>
 <button  type= "submit" class="btn btn-primary">Publicar</button>
</form>